<div class="container-fluid">
    <div class="row d-flex">     
      <!-- left section -->       
      <div class="col-md-6 mt-3 login-left">
        <form>
          <h1 class="login-heading">Change Password</h1>
          <p class="form-paragraph">Enter your current password, We will verify and you can change your</p>
          <div class="mb-3 mt-5">
            <label for="currentPassword" class="form-label">Current Password</label>
            <input type="password" id="currentPassword" name="currentPassword" class="form-control" placeholder="Enter your current password" [(ngModel)]="currentPassword">
          </div>
          <div class="mb-3 mt-5">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Enter your new password" [(ngModel)]="newPassword">
          </div>
                      
          <div>
            <!-- <button type="button" class="button text-white mt-3 shadow-lg" (click)="changePassword()" [disabled]="!validForm">Change Password</button> -->
            <button type="button" class="button text-white mt-3 shadow-lg" (click)="changePassword()" >Change Password</button>

            
          </div>

          <div class="pt-5 d-flex justify-content-center">
            <button type="button" class="btn btn-light" mdbRipple rippleColor="dark" (click)="changeRoute()">Return to home</button>
          </div>
        </form>
      </div>
      <!-- right section -->
      <div class="computer-image col-md-6 text-center login  ">
        <img class=" px-sm-5 " src="./assets/image/logo.png" alt="">
        <p class="lorem-paragraph text-white px-sm-3">Welcome to Spotless Solutions, here you can schedule your pickup of your cloths and relax!!</p>
        <img class="px-sm-3 mt-5" src="./assets/image/Group 16166.png" alt="" style="width:85%;">
      </div>             
    </div>
  </div>
  