<div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you want to perform this action ?</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modalRef.close()"
        ></button>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modalRef.close()">
          Decline
        </button>
        <button type="button" class="btn btn-danger" (click)="reject()">Accept</button>
      </div>