<form>
  <div class="container-fluid card mt-3 ">
    <div class="row">
      <div class="col-md-4 ">
        <h2 class="title">Personal Details</h2>
        <div class="row">
          <div class="col-md-12">
            <label for="name">Enter name</label>
            <input name="name" type="text" class="form-control" [(ngModel)]="formData.name" [required]="true" />
          </div>
          <div class="col-md-12">
            <label for="phone">Enter phone no</label>
            <input name="phone" type="text" class="form-control" [(ngModel)]="formData.phone" />
          </div>
          <div class="col-md-12">
            <label for="pickupDate">Enter pickup date</label>
            <input name="pickupDate" type="date" class="form-control" [(ngModel)]="formData.pickupDate" />
          </div>
          <div class="col-md-12">
            <label for="address">Enter Address</label>
            <input name="address" type="text" class="form-control" [(ngModel)]="formData.address" />
          </div>
        </div>
      </div>
      <div class="col-md-8 px-5 laundry">
        <h2 class="title">Laundry Details</h2>
        <div class="row">
          <!---regular-->
          <div class="col-12 col-lg-6 box">
            <h3 class="category">Regular :</h3>
            <div class=" d-flex justify-content-between">
              <div>
                <label for="regularUpperwear">Upperwear<br/> (shirt, t-shirt)</label>
                <input name="regularUpperwear" min="0" type="number" class="form-control"
                  [(ngModel)]="formData.cloths.regular.upperWear" />
              </div>
              <div class="ms-2">
                <label for="regularLowerwear">Lowerwear<br/> (jeans, pants)</label>
                <input name="regularLowerwear" min="0" type="number" class="form-control"
                  [(ngModel)]="formData.cloths.regular.lowerWear" />
              </div>
            </div>

          </div>
          <!---Speciality-->

          <div class="col-12 col-lg-6 box">
            <h3 class="category">Speciality :</h3>
            <div class=" d-flex justify-content-between">
              <div>
                <label for="specialUpperwear">Upperwear<br/> (blazer, silk blouse)</label>
                <input name="specialUpperwear" min="0" type="number" class="form-control"
                  [(ngModel)]="formData.cloths.special.upperWear" />
              </div>
              <div class="ms-2">
                <label for="specialLowerwear">Lowerwear <br/> (trousers, skirt)</label>
                <input name="specialLowerwear" min="0" type="number" class="form-control"
                  [(ngModel)]="formData.cloths.special.lowerWear" />
              </div>
            </div>

          </div>

          <!---Woolen-->

          <div class="col-12 col-lg-6 box">
            <h3 class="category">Woolen :</h3>
            <div class=" d-flex justify-content-between">
              <div>
                <label for="woolenUpperwear">Upperwear <br/> (overcoat, sweater)</label>
                <input name="woolenUpperwear" min="0" type="number" class="form-control"
                  [(ngModel)]="formData.cloths.woolen.upperWear" />
              </div>
              <div class="ms-2">
                <label for="woolenLowerwear">Lowerwear <br/> (woolen trouser)</label>
                <input name="woolenLowerwear" min="0" type="number" class="form-control"
                  [(ngModel)]="formData.cloths.woolen.lowerWear" />

              </div>
            </div>

          </div>

          <!---Household-->

          <div class="col-12 col-lg-6 box">
            <h3 class="category">Household :</h3>
            <div class=" d-flex justify-content-between">
              <div>
                <label for="householdItem">Household Items <br/> (bedsheets, carpet, curtains)</label>
                <input name="householdItem" min="0" type="number" class="form-control"
                  [(ngModel)]="formData.cloths.household.item" />
              </div>

            </div>

          </div>

          <!---delivery option-->
          <div class="col-md-12 row align-items-center">
            <div class="col-md-6">
              <label for="deliveryOption">Delivery Option</label>
              <select name="deliveryOption" id="deliveryOption" class="form-control"
                [(ngModel)]="formData.deliveryOption">
                <option value="normal">Normal Delivery</option>
                <option value="fast">Fast Delivery</option>
              </select>
            </div>
            <div class="col-md-6 d-flex gap-2 align-items-center">
              <h5 class=" p-0 m-0 fw-medium">Total Amount:</h5>
              <input type="number" id="totalAmount" name="totalAmount" class="form-control m-0" [value]="calculateAmount"
                required [disabled]="true" min="0" />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 d-flex align-items-center justify-content-center pb-3">
          <button type="button" class="btn btn-success btn-rounded" mdbRipple (click)="addLaundry
          ()" [disabled]="!isFormValid">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</form>