th,td{
        text-align: center;
     word-wrap: break-word;
     }
     
     th{
             text-align: center;
     }
     
     td{
             min-width: 120px;
             max-width: fit-content;
     }